{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "off"
    ],
    "@typescript-eslint/no-empty-function": "warn",
    "no-empty": "warn",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "printWidth": 100,
        "endOfLine": "auto",
        "importOrder": [
          "^@mantine/(.*)$",
          "^@/store/(.*)$",
          "^@/(.*)$",
          "^[./]"
        ],
        "importOrderSeparation": false,
        "importOrderSortSpecifiers": true
      }
    ]
  },
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  }
}
